{% extends 'core/wizards/_base.html' %}
{% load i18n bootstrap %}

{% block wizard_help %}
<p>{% trans "Beware that re-segmenting will delete any existing transcriptions!" %}</p>
{% endblock %}

{% block wizard_fields %}

<div class="form-group">
  <h5>{% trans "Upload a model" %}</h5>
  {% render_field process_form.upload_model class="js-proc-settings" accept=".mlmodel" %}
</div>

<div class="form-group">
  <h5>{% trans "Or select an existing one" %}</h5>
  {% render_field process_form.seg_model class="js-proc-settings" %}
</div>

<div class="form-group">
  {% render_field process_form.segmentation_steps %}
  {% render_field process_form.text_direction %}
  {% render_field process_form.override %}
</div>
{% endblock %}

{% block wizard_submit %}{% trans "Segment" %}{% endblock %}
